img {
    &.external-links-label:hover {
        transition: transform 0.25s ease, box-shadow 0.25s ease;
        transform: scale(1.05);
        box-shadow: 0 3.5px 7px 0 var(--text-muted-color);
    }
}

.uniform {
    height: 400px;
    width: auto;
    object-fit: cover;
}

.custom-img {
    border: 3px solid var(--img-border-color);
    border-radius: 5px;
    transition: all 0.25s ease-in-out, transform 0.25s ease;
    // box-shadow: 0 3.5px 7px 0 var(--text-muted-color);
}

.custom-img:hover {
    --img-hover-color: var(--toc-highlight);
    transform: scale(1.015);
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-block {
    margin-left: 5px;
    margin-right: 5px;
}

.image-caption {
    text-align: center;
    font-size: 0.9em;
    margin: 0;
}
