<div id="access-links">
  <div class="panel-heading pb-2"><strong>Verification Status</strong></div>
  <span id="not-verified-badge"><span style="color: white">Not Verified</span></span>
  <style>
    #not-verified-badge {
      display: inline-block;
      padding: 4px 8px;
      margin: 8px 0;
      background-color: #d21a1a;
      border-radius: 5px;
      border: 1px solid #800808;
      text-decoration: none;
      font-size: 14px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      user-select: none;
    }
  </style>
</div>