<div id="access-links">
    <div class="panel-heading pb-2">{{- site.data.locales[lang].panel.external_links | default: 'External Links' -}}</div>
    <a href="https://github.com/Zoooooone/Zoooooone.github.io" target="_blank">
      <img alt="Static Badge" src="https://img.shields.io/badge/Blog_Repository-%23ea681f?logo=github" class="external-links-label"/>
    </a>
    <br>
    <a href="https://peng-ao.github.io/" target="_blank">
      <img alt="Static Badge" src="https://img.shields.io/badge/PENG%20AO's%20Blog-blue?style=flat&logo=github&color=blue" class="external-links-label">
    </a>
</div>