/*
 * The syntax light mode typography colors
 */

@mixin light-scheme {
  /* Framework color */
  --main-bg: rgb(248, 248, 248);
  --mask-bg: #c1c3c5;
  --main-border-color: #d1d9e6;

  /* Common color */
  --table-border-color: #c3c3c3;
  --text-color: #34343c;
  --text-muted-color: #8e8e8e;
  --heading-color: black;
  --blockquote-border-color: #eeeeee;
  --blockquote-text-color: #9a9a9a;
  --link-color: #0153ab;
  --link-underline-color: #dee2e6;
  --button-bg: var(--main-bg);
  --btn-border-color: #d0dbe4;
  --btn-backtotop-color: #7d86ab;
  --btn-backtotop-border-color: var(--btn-border-color);
  --btn-box-shadow: #eaeaea;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: #07a8f7;
  --img-bg: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(239, 239, 239) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Sidebar */
  --sidebar-bg: radial-gradient(circle, #e6e7f5 0%, #eff4f6 100%);
  --sidebar-muted-color: #a2a19f;
  --sidebar-active-color: #1d1d1d;
  --sidebar-hover-bg: rgba(211, 212, 239, 0.941);
  --sidebar-btn-bg: white;
  --sidebar-btn-color: #44507d;
  --avatar-border-color: white;

  /* Topbar */
  --topbar-bg: var(--main-bg);
  --topbar-text-color: rgb(61, 60, 60);
  --search-wrapper-border-color: rgb(154, 154, 154);
  --search-tag-bg: #f8f9fa;
  --search-icon-color: #c2c6cc;
  --input-focus-border-color: #b8b8b8;

  /* Home page */
  --post-list-text-color: dimgray;
  --btn-patinator-text-color: #2c2a3f;
  --btn-paginator-hover-color: rgb(223, 223, 223);
  --btn-paginator-border-color: rgb(208, 208, 208);
  --btn-text-color: #676666;

  /* Posts */
  --toc-highlight: #2982f7;
  --card-bg: rgb(246, 246, 246);
  --card-hovor-bg: rgba(151, 159, 174, 0.941);
  --card-shadow: rgba(24, 24, 24, 0.05) 1px 8px 8px 1px,
    rgba(107, 130, 141, 0.114) 0 0 0 1px;
  --card-hover-border: #a09f9f;
  --label-color: #757575;
  --relate-post-date: rgba(30, 55, 70, 0.4);
  --footnote-target-bg: lightcyan;
  --tag-bg: rgba(0, 0, 0, 0.075);
  --tag-border: #746f8d;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: rgb(213, 223, 234);
  --tb-odd-bg: #fbfcfd;
  --tb-even-bg: rgb(232, 234, 244);
  --tb-border-color: #eaeaea;
  --dash-color: silver;
  --kbd-wrap-color: #bdbdbd;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: white;
  --prompt-text-color: rgb(46, 46, 46, 0.77);
  --prompt-tip-bg: rgb(123, 247, 144, 0.2);
  --prompt-tip-icon-color: #03b303;
  --prompt-info-bg: #e1f5fe;
  --prompt-info-icon-color: #0070cb;
  --prompt-warning-bg: rgb(255, 243, 205);
  --prompt-warning-icon-color: #ef9c03;
  --prompt-danger-bg: rgb(248, 215, 218, 0.56);
  --prompt-danger-icon-color: #df3c30;

  /* waline */
  --waline-white: #fff;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;
  --waline-color: #444;
  --waline-bgcolor: #fafafb;
  --waline-bgcolor-light: #f0f0f0;
  --waline-bgcolor-hover: #f0f0f0;
  --waline-border-color: #d3d4d7;
  --waline-disable-bgcolor: #f8f8f8;
  --waline-disable-color: #000;
  --waline-bq-color: #f0f0f0;
  --waline-info-bgcolor: #f8f8f8;
  --waline-info-color: #999;
  --waline-theme-color: #80a4dc;
  --waline-active-color: #4870d4;
  --waline-code-bgcolor: #434d62;
  --waline-badge-color: #109658;
  --waline-box-shadow: 0 12px 40px rgb(134 151 168 / 25%);

  /* font awesome icons */
  --icon-github: #211F1F;
  --icon-code: #bc5e00;
  --icon-bilibili: #ff759c;
  --icon-gaming: #0058a3;
  --icon-video: #5b009c;
  --icon-cooking: #e2c37d;
  --icon-guitar: #5e3c0f;
  --icon-football: #000000;
  --icon-envelope: rgb(16, 163, 50);
  --icon-linkedin: rgb(0, 63, 181);

  /* aplayer */
  --aplayer-bg: #fff;
  --aplayer-border: #b9b9b9;
  --aplayer-pic-border: #747474;
  --aplayer-list-hover: #efefef;
  --aplayer-icon-hover: #000;

  /* animation */
  --animated-block-alpha: 0.13;

  [class^='prompt-'] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* Categories */
  --categories-border: rgba(0, 0, 0, 0.125);
  --categories-hover-bg: rgb(222, 222, 222);
  --categories-icon-hover-color: darkslategray;

  /* Archive */
  --timeline-color: rgba(0, 0, 0, 0.075);
  --timeline-node-bg: #9eb9e1;
  --timeline-year-dot-color: #ffffff;

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: rgb(242, 243, 246);
  }

  .categories {
    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(239, 241, 246),
      rgb(232, 234, 242),
      rgb(225, 231, 237),
      rgb(232, 237, 242),
      rgb(239, 241, 246)
    );
  }
} /* light-scheme */
