<h1>Education Background</h1>
<ul>
    <li>2012.9 ~ 2018.6 &nbsp;&nbsp; <a href="http://www.nfls.com.cn/">NFLS</a></li>
    <li>2019.4 ~ 2023.3 &nbsp;&nbsp; <a href="https://www.u-tokyo.ac.jp/ja/index.html">Utokyo</a>, <a href="https://www.t.u-tokyo.ac.jp/foe">Engineering</a>, <a href="http://www.kikaib.t.u-tokyo.ac.jp/">Mechano-Informatics</a></li>
    <li>2023.4 ~ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.u-tokyo.ac.jp/ja/index.html">Utokyo</a>, <a href="https://www.i.u-tokyo.ac.jp/">IST</a>, <a href="http://www.kikaib.t.u-tokyo.ac.jp/">Mechano-Informatics</a>, <a href="http://www.isi.imi.i.u-tokyo.ac.jp/?lang=ja">ISI</a></li>
    <li>...</li>
</ul>

<h1>Research Focus</h1>
<p>Specialization: &nbsp; <strong>Machine Learning</strong><br>
Research Area: &nbsp; <strong>Multimodal Recognition</strong>, ...</p>

<h1>Links</h1>
<p>
    <i class="fa-brands fa-github fa-fw" onclick="window.location.href='https:/github.com/Zoooooone';"></i> &nbsp; <a href="https://github.com/Zoooooone">Github</a><br>
    <i class="fa-solid fa-laptop fa-fw" onclick="window.location.href='https:/leetcode.com/Zoooooone';"></i> &nbsp; <a href="https://leetcode.com/Zoooooone">Leetcode</a><br>
    <i class="fa-brands fa-bilibili fa-fw" onclick="window.location.href='https:/space.bilibili.com/19356816';"></i> &nbsp; <a href="https://space.bilibili.com/19356816">BiliBili</a><br>
    ...
</p>

<h1>Hobbies</h1>
<p>
    <i class="fa-solid fa-laptop fa-fw"></i> &nbsp; Coding<br>
    <i class="fa-brands fa-steam fa-fw"></i> &nbsp; Gaming<br>
    <i class="fa-solid fa-clapperboard fa-fw"></i> &nbsp; Video Editing<br>
    <i class="fa-solid fa-bowl-food fa-fw"></i> &nbsp; Cooking<br>
    <i class="fa-solid fa-guitar fa-fw"></i> &nbsp; Guitar<br>
    <i class="fa-solid fa-futbol fa-fw"></i> &nbsp; Football<br>
    ...
</p>

<h1>Contact</h1>
<p>
    <i class="fa-regular fa-envelope fa-fw"></i> &nbsp; ziheng-chen@isi.imi.i.u-tokyo.ac.jp<br>
    <i class="fa-brands fa-linkedin fa-fw" onclick="window.location.href='https:/www.linkedin.com/in/ziheng-chen-572356285';"></i> &nbsp; <a href="https://www.linkedin.com/in/ziheng-chen-572356285/">Linkedin</a>
</p>

<br>
