<div id="progress-bar"></div>

<title>关于Zone</title>
<h2>个人标签</h2>
<ul>
    <li>土生土长却不爱吃盐水鸭的假南京人</li>
    <li>拥有漫长的12年日语学习经历，自我感觉日语比英语好的非典型留学生</li>
    <li>本科在东京大学挣扎了4年，如今继续在本校挣扎着读研中</li>
    <li>宅，但二次元浓度较低</li>
    <li>万年不变 INFJ</li>
    <li>完美主义（有时会过度）、高敏感、内耗大师，与这些特质带来的负面影响搏斗中</li>
    <li>厌恶且畏惧冲突</li>
    <li>意外地喜欢萌物</li>
    <li>待补充 。。。</li>
</ul>

<h2>一些爱好</h2>
<ul>
    <li>
        <p><strong>各种游戏。</strong> 曾痴迷过一段时间受苦横版过关类型（诸如空洞、蔚蓝），如今热衷于开放世界自由探索（没错说的就是你原神）。</p>
        {% include gallery.html id="gallery-1" path="about_me/games" %}
    </li>

    <br>

    <li>
        <p><strong>做饭。</strong> 十分荣幸地从我厨艺高超的父母那里继承了一些天赋，从三年前的疫情初期我便开始了对于烹饪的探索。到如今，我完成了从手忙脚乱会把鸡蛋炒焦到可以变着花样把自己喂圆的蜕变。</p>
        {% include gallery.html id="gallery-2" path="about_me/foods" %}
    </li>

    <br>

    <li>
        <p><strong>视频剪辑。</strong> 一些三分钟热度，但也算是比较愉快的一次尝试，尽管现在再看曾经的作品会因为那些刻意的踩点而尴尬。如果要为自己停更而开脱的话，学业繁忙和抑制不住的完美主义倾向是很好的理由。</p>
        {% include embed/bilibili.html id="BV1d54y1Q7ts" %}
        <p class="image-caption"><strong>为自己最喜欢的DJ Avicii 制作的缅怀向视频</strong></p>

        <br>

        {% include embed/bilibili.html id="BV12e411W7nc" %}
        <p class="image-caption"><strong>你的名字 抒情向剪辑</strong></p>
    </li>
        
    <br>

    <li>
        <p><strong>音乐。</strong> 网易云音乐9年骨灰级用户，最喜欢的事情之一是听节奏感强的音乐快走，然后每一步踩中鼓点。音乐品味变化:</p>
        <ul>
            <li><strong>初高中时期：</strong> 节奏感强的电音、欧美流行乐</li>
            <li><strong>日本考学期 + 本科前期：</strong> 杂食阶段，只要是觉得好听的无论流派语言</li>
            <li><strong>疫情期 + 本科毕业年：</strong> 肝论文自闭阶段，治愈心灵的纯音乐赛高</li>
            <li><strong>现在：</strong> 节奏感强的电音（压马路专用）、治愈心灵的纯音乐</li>
        </ul>
        <p class="image-caption"><strong>高频歌单</strong></p>
        <div id="aplayer" data-playlist="/assets/audio/playlist/playlist1.json"></div>
    </li>

    <br>

    <li>
        <p><strong>写代码。</strong> 会的语言不多，技术力也非常有待加强。这半年来接触了Leetcode以及技术博客，最初的目的自然是比较功利的，但不知不觉也坚持了一段时间，发现自己的确乐在其中，也确实学到了不少，算是一件比较令人高兴的事情。</p>
    </li>

    <br>

    <li>
        <p><strong>一些其他的爱好。</strong> 包括一些相较于以前现在没那么关注的，以及客观原因丢了挺久的爱好。</p>
        <ul>
            <li>看足球。对12 ~ 18年间活跃的球星如数家珍，可惜如今熟悉的那些名字都逐渐淡出了舞台，新生代球员的名字渐渐叫不上来了，自己也快要达到作为足球运动员来说不再能被称为“小将”的年纪了。至于上场踢球，我想如果我把中学时期的生涯战绩说出来应该是相当重量级的：</li>
                <ul>
                    <li>司职中场，通过超远距离吊射攻破自家球门，帮助对手完成绝杀</li>
                    <li>司职门将，被对方前锋开球后超远距离吊射攻破球门，帮助对手完成绝杀</li>
                    <li>司职左后卫，全场仅1次触球</li>
                </ul>
            <li>弹吉他。曾经会弹古典吉他，也跟着网上教学视频依葫芦画瓢学了一点民谣，但自从留学后住宿条件不允许的缘故被迫荒废了。曾经忍受了不少痛苦磨出来的老茧也慢慢消退了下去，是好事也是坏事。</li>
        </ul>
    </li>
</ul>

<h2>关于未来</h2>
<p>眼前首要的任务是完成毕业研究，给自己的学生时代画上一个句号。之后虽说还没有特别细致的规划，但大体有几个想要努力的方向。一是尽快适应社会人的身份并在工作中拓展并精进专业技能。二是尝试一些不一样的生活方式，这个比较宽泛，可以是一些新的兴趣爱好，新的人际关系之类。三是持续学习如何与自己相处，这个对我来说非常重要但也很不容易。总体来说都是相对长期的目标，不需要设定太多苛刻的时限要求，只需要明晰这些方向并一点点执行，这样不至于太过迷茫。</p>
