---
layout: page
tail_includes:
 - pageview
# All the Tags of posts.
---

<h1 class="dynamic-title">Tags</h1>

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    <div class="tags-tag" freq="{{ site.tags[t].size }}">
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="tag-freq">{{ site.tags[t].size }}</span>
      </a>
    </div>
  {% endfor %}
</div>

<script src="/assets/js/animation/tags.js"></script>